@import 'vars';
@import 'mixins';
@include main;
body {}

header {
    width: 100%;
    height: 36em;
    background: url('../slike/intro.jpg');
    background-image: cover;
    nav.mainNavigation {
        background-color: $Tamno-plava;
        li {
            display: inline-block;
            color: white;
        }
    }
}

section {}

footer {}